[Desktop Entry]
Name=Time Settings
Exec=pkexec timeset-gui
Comment="A python-gui for managing system date and time"
Icon=/usr/share/icons/timeset-gui-icon.png
NoDisplay=false
Type=Application
Categories=System;
Encoding=UTF-8
