[Desktop Entry]
Name=Time Settings
Exec=gksudo timeset-gui
Comment="A GUI for managing system date and time"
Icon=timeset-gui-icon
NoDisplay=false
Type=Application
Categories=System;
Encoding=UTF-8
