[Desktop Entry]
Name=Time Settings
Name[am]=Time Settings
Name[ar]=إعدادات الوقت
Name[bg]=Time Settings
Name[ca]=Ajustaments de temps
Name[cs]=Time Settings
Name[da]=Tidsindstillinger
Name[de]=Zeiteinstellung
Name[el]=Time Settings
Name[es]=Ajuste de reloj
Name[et]=Time Settings
Name[eu]=Time Settings
Name[fa]=Time Settings
Name[fi]=Aika-asetukset
Name[fr]=Réglage de l'heure
Name[he_IL]=Time Settings
Name[hi]=Time Settings
Name[hr]=Time Settings
Name[hu]=Time Settings
Name[id]=Time Settings
Name[is]=Time Settings
Name[it]=Impostazioni Ora
Name[ja_JP]=Time Settings
Name[ja]=時間設定
Name[kk]=Уақыт параметрлері
Name[ko]=Time Settings
Name[lt]=Time Settings
Name[mk]=Time Settings
Name[nb]=Time Settings
Name[nl]=Tijd Instellingen
Name[pl]=Ustawienia czasu
Name[pt_BR]=Configurações de Data e Hora
Name[pt]=Definições de Data e Hora
Name[ro]=Time Settings
Name[ru]=Настройки времени
Name[sk]=Time Settings
Name[sl]=Time Settings
Name[sq]=Time Settings
Name[sr]=Time Settings
Name[sv]=Tidsinställningar
Name[tr]=Time Settings
Name[uk]=Time Settings
Name[zh_CN]=时间设置
Name[zh_TW]=Time Settings
Comment=A GUI for managing system date and time
Comment[am]=A GUI for managing system date and time
Comment[ar]=واجهة المستخدم الرسومية لإدارة
Comment[bg]=A GUI for managing system date and time
Comment[ca]=Una interfície gràfica d'usuari per a la gestió de la data i hora del sistema
Comment[cs]=A GUI for managing system date and time
Comment[da]=En grafisk brugerflade til at håndtere systemets dato og klokkeslæt
Comment[de]=Grafische Einstellung von Systemzeit und -datum
Comment[el]=Διαχείριση της ημερομηνίας και της ώρας του συστήματος
Comment[es]=Un GUI para gestar fecha y hora del sistema
Comment[et]=A GUI for managing system date and time
Comment[eu]=A GUI for managing system date and time
Comment[fa]=A GUI for managing system date and time
Comment[fi]=A GUI for managing system date and time
Comment[fr]=Une interface graphique pour régler la date et l'heure du système
Comment[he_IL]=A GUI for managing system date and time
Comment[hi]=A GUI for managing system date and time
Comment[hr]=A GUI for managing system date and time
Comment[hu]=A GUI for managing system date and time
Comment[id]=A GUI for managing system date and time
Comment[is]=A GUI for managing system date and time
Comment[it]=Gestione della data e dell'orario del sistema
Comment[ja_JP]=A GUI for managing system date and time
Comment[ja]=システムの日付と時刻を管理するためのGUI
Comment[kk]=жүйелік күн мен уақытын басқару үшін GUI
Comment[ko]=A GUI for managing system date and time
Comment[lt]=A GUI for managing system date and time
Comment[mk]=A GUI for managing system date and time
Comment[nb]=A GUI for managing system date and time
Comment[nl]=Een GUI voor het beheer van systeem datum en tijd
Comment[pl]=Narzędzie do zarządzania czasem i datą systemową
Comment[pt_BR]=Configurar a data e hora do sistema
Comment[pt]=Definir a data e hora do sistema através duma interface gráfica
Comment[ro]=A GUI for managing system date and time
Comment[ru]=Графический интерфейс для управления системной даты и времени
Comment[sk]=A GUI for managing system date and time
Comment[sl]=A GUI for managing system date and time
Comment[sq]=A GUI for managing system date and time
Comment[sr]=A GUI for managing system date and time
Comment[sv]=Ett gränssnitt för att hantera systemdatum och tid
Comment[tr]=A GUI for managing system date and time
Comment[uk]=A GUI for managing system date and time
Comment[zh_CN]=用于管理系统日期和时间的GUI
Comment[zh_TW]=A GUI for managing system date and time
Exec=gksudo timeset-gui
Icon=timeset-gui-icon
Terminal=false
NoDisplay=false
Type=Application
Categories=GTK;Settings;
StartupNotify=true
Encoding=UTF-8
